[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
flask = "*"
pylint = "*"
black = "*"
opencv-python = "*"
# specifying mediapipe version to avoid the bug described at:
# https://github.com/google/mediapipe/issues/5188
mediapipe = {version="==0.10.9"} 
requests = "*"
pytest = "*"
coverage = "*"

[dev-packages]

[requires]
python_version = "3.10"
