<!-- where user can take a picture and machine learning client will output emoji -->
{% extends 'layout.html' %}

{% block body %}

    <p> take a picture with webcam to find emoji match </p>
    <button id="btn-start-camera">Start Camera</button>
    <video id="video" width="500" height="400" autoplay></video>
    <button id="take-snapshot">Take Snapshot</button>
    <div id="dataurl-container">
        <canvas id="canvas" width="500" height="400"></canvas>
        <div id="dataurl-header">Image Data URL</div>
        <textarea id="dataurl" readonly></textarea>
    </div>
 
    <form action="{{ url_for('upload_image') }}" method="POST" enctype="multipart/form-data" id="imageForm">
        <input type="hidden" name="image_data" id="imageData">
        <input type="submit" value="Submit">
    </form>

    <script>
        let btn_start_camera = document.querySelector("#btn-start-camera");
        let video = document.querySelector("#video");
        let btn_take_snapshot = document.querySelector("#take-snapshot");
        let canvas = document.querySelector("#canvas");
        let dataurl = document.querySelector("#dataurl");
        let dataurl_container = document.querySelector("#dataurl-container");

        // start camera
        btn_start_camera.addEventListener('click', async function() {
            let stream = null;

            try {
                stream = await navigator.mediaDevices.getUserMedia({ video: true, audio: false });
            }
            catch(error) {
                alert(error.message);
                return;
            }

            video.srcObject = stream;

            video.style.display = 'block';
            btn_start_camera.style.display = 'none';
            btn_take_snapshot.style.display = 'block';
            // Flip the video horizontally
            video.style.transform = "scaleX(-1)";
        });
        

        // take the snapshot
        btn_take_snapshot.addEventListener('click', function() {
            canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
            let image_data_url = canvas.toDataURL('image/jpeg');
            
            dataurl.value = image_data_url;
            dataurl_container.style.display = 'block';

            // Submit the form to upload the image
            document.getElementById('imageData').value = image_data_url;
        });

    </script>

{% endblock %}
