[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
flask = "*"
pylint = "*"
black = "*"
pytest = "*"
coverage = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3"
